navbar {

  display: block;
  background: rgb(26,113,16);
  border-bottom: 1px solid rgb(146,204,148);
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#053000, 10%);
      font-size: 1.5em;
    }
    &:hover {
      background: none;
      color: rgb(146,204,148);
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid white;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #053000;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

}
