<div>
    <h2>Let's get started!</h2>
    <form onSubmit="checkDB()" class="getName">What is your name and DOB?
        <label for="firstName">First Name: </label>
        <input type="text" ng-model="person.firstName">
        <label for="lastName">Last Name: </label>
        <input type="text" ng-model="person.lastName">
        <label for="bday">Last Name: </label>
        <input type="text" ng-model="person.bday">
        <button type="submit">Check if I'm in the system already</button>
    </form>
</div>
