* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.angular-google-map-container {
    height: 550px;
    width: 70%;
    display: block;
    float: left;
}

.info-box {
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    border: solid black 1px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
